.grafico{
  text-align: center;
  margin: 10px auto;
}

.chartContainer{
  margin: 10px auto;
  width: 90%;
  display: flex;
  justify-content: column;
  align-items: center;
  justify-content: center;
}

.chartContainer canvas{
  margin: 10px auto;
  width: 100%;
  max-height: 300px;
}
