.product-container{
  display: flex;
  flex-direction: column;
}

.prodcut-container > *{
  width: 100%;
}

.input-file{
  display: none;
}

.subir{
  padding: 5px 16px;
  background: #3f51b5;
  color: #fff;
  border-radius: 10px;
  border: 0px solid #fff;
}
